<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Spire.Barcode" version="7.3.2" targetFramework="net40" />
  <package id="Spire.Doc" version="12.6.10" targetFramework="net40" />
  <package id="Spire.DocViewer" version="8.7.8" targetFramework="net40" />
  <package id="Spire.Email" version="6.6.0" targetFramework="net40" />
  <package id="Spire.Office" version="9.5.0" targetFramework="net40" />
  <package id="Spire.OfficeViewer" version="8.7.10" targetFramework="net40" />
  <package id="Spire.PDF" version="10.6.7" targetFramework="net40" />
  <package id="Spire.PDFViewer" version="7.12.14" targetFramework="net40" />
  <package id="Spire.Presentation" version="9.5.3" targetFramework="net40" />
  <package id="Spire.XLS" version="14.6.6" targetFramework="net40" />
</packages>